{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock %}
 {% block main-content %}
<!-- catg header banner section -->
  <section id="aa-catg-head-banner">
   <img src="images/contactus-image.jpg" alt="contact img">
   <div class="aa-catg-head-banner-area">
     <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>Contact</h2>
        <ol class="breadcrumb">
          <li><a href="home.html">Home</a></li>         
          <li class="active">Contact</li>
        </ol>
      </div>
     </div>
   </div>
  </section>
  <!-- / catg header banner section -->
<!-- start contact section -->
 <section id="aa-contact">
   <div class="container">
     <div class="row">
       <div class="col-md-12">      
         <div class="aa-contact-area">
           <div class="aa-contact-top">
             <h2>We are wating to assist you....</h2>
             <p>Contact us for more info or any quries.....</p>
           </div>
               <div class="col-md-4">
                 <div class="aa-contact-address-right">
                   <address>
                     <h4>Noonmade</h4>
                     <p>Direct Message here for any direct questions or answers.</p>
                     <p><span class="fa fa-home"></span>Pepsicola, Ktm, Nepal</p>
                     <p><span class="fa fa-phone"></span>9844834168</p>
                     <p><span class="fa fa-envelope"></span>Email: support@noonmade.com</p>
                   </address>
                 </div>
               </div>

 </section>

 
 {% endblock main-content %}
